<!-- Title: footer.ejs
     Author: Megan Walker
     Date: 02/03/2023
     Description: footer.ejs for pets-r-us assign 
     References: https://www.w3schools.com/
-->
<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <p>
                Pets-R-Us is a pet store and grooming service located in the heart of downtown. We offer a wide
                variety
                of
                pet supplies and services. We also have a pet adoption center where you can find your new best
                friend.
            </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp; 555-555-5555</span>
                <span><br><i class="fas fa-envelope"></i> &nbsp;18 Spring Ave.
                    Mahwah, NJ 07430</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Events</a></li>
                <li><a href="#">Adopt</a></li>
                <li><a href="#">Get Directions</a></li>
            </ul>
        </div>
        <div class="business-hours">
            <h2>Business Hours</h2>
            <ul>
                <li><span>Mon-Fri:</span> 9am - 5pm</li>
                <li><span>Saturday:</span> 10am - 4pm</li>
                <li><span>Sunday:</span> Closed</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; Pets-R-Us | Designed by Megan Walker
    </div>
</footer>
</body>

</html>