<!-- Title: header.ejs
     Author: Megan Walker
     Date: 02/03/2023
     Description: header.ejs for pets-r-us assign 
     References: https://www.w3schools.com/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pets-R-Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="styles/site.css" type="text/css">
</head>

<body class="light-theme">
    <div class="navbar">
        <a id="site-logo" href="/">Pets-R-Us <i class="fa-solid fa-paw"></i></a>
        <div class="subnav">
            <button class="subnavbtn">Pet Services <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="/grooming">Grooming</a>
                <a href="/boarding">Boarding</a>
                <a href="/training">Training</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Pet Supplies <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#">Cat</a>
                <a href="#">Dog</a>
                <a href="#">Reptile</a>
                <a href="#">Bird</a>
                <a href="#">Small Animal</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Adopt <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#">Adoption Info</a>
                <a href="#">Cat</a>
                <a href="#">Dog</a>
                <a href="#">Reptile</a>
                <a href="#">Bird</a>
                <a href="#">Small Animal</a>
            </div>
        </div>
    </div>