<html>
<!-- Title: grooming.ejs
     Author: Megan Walker
     Date: 01/28/2023
     Description: grooming.ejs for pets-r-us assign
     References: https://www.w3schools.com/
-->
<head>
    <title>Pets-R-Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="styles/site.css" type="text/css">
</head>

<body class="light-theme">
    <div class="navbar">
        <a id= "site-logo" href="/">Pets-R-Us <i class="fa-solid fa-paw"></i></a>
        <div class="subnav">
            <button class="subnavbtn">Pet Services <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="/grooming">Grooming</a>
                <a href="#">Boarding</a>
                <a href="#">Training</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Pet Supplies <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#">Cat</a>
                <a href="#">Dog</a>
                <a href="#">Reptile</a>
                <a href="#">Bird</a>
                <a href="#">Small Animal</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Adopt <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#">Adoption Info</a>
                <a href="#">Cat</a>
                <a href="#">Dog</a>
                <a href="#">Reptile</a>
                <a href="#">Bird</a>
                <a href="#">Small Animal</a>
            </div>
        </div>
    </div>
    <center>
        <div class="logo-top">
            <h1>Grooming</h1>
            <img src="/images/cat-groom.jpg" alt="cat getting groomed" width="auto" height="400" />
        </div>
    </center>
    <!-- grooming prices section-->
        <div class="card">
            <div class="card-title">
                <h2>Grooming Prices</h2>
            </div>
            <table>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Full Groom</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>Full Groom with Bath</td>
                    <td>$25</td>
                </tr>
                <tr>
                    <td>Full Groom with Bath and Nail Trim</td>
                    <td>$30</td>
                </tr>
                <tr>
                    <td>Full Groom with Bath, Nail Trim, and Ear Cleaning</td>
                    <td>$35</td>
                </tr>
                <tr>
                    <td>Full Groom with Bath, Nail Trim, Ear Cleaning, and Anal Gland Expression</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <td>Full Groom with Bath, Nail Trim, Ear Cleaning, Anal Gland Expression, and Teeth Brushing</td>
                    <td>$50</td>
                </tr>
            </table>
        </div>
          
    <br><br>
</body>
<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <p>
                Pets-R-Us is a pet store and grooming service located in the heart of downtown. We offer a wide variety of
                pet supplies and services. We also have a pet adoption center where you can find your new best friend.
            </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp; 555-555-5555</span>
                <span><i class="fas fa-envelope"></i> &nbsp;18 Spring Ave.
                    Mahwah, NJ 07430</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <a href="#">
                    <li>Events</li>
                </a>
                <a href="#">
                    <li>Adopt</li>
                </a>
                <a href="#">
                    <li>Get Directions</li>
                </a>
            </ul>
        </div>
        <div class="business-hours">
            <h2>Business Hours</h2>
            <ul>
                <li><span>Mon-Fri:</span> 9am - 5pm</li>
                <li><span>Saturday:</span> 10am - 4pm</li>
                <li><span>Sunday:</span> Closed</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; Pets-R-Us | Designed by Megan Walker
</html>