<!-- Title: grooming.ejs
     Author: Megan Walker
     Date: 01/28/2023
     Description: grooming.ejs for pets-r-us assign
     References: https://www.w3schools.com/
-->
<%- include('./_header.ejs') %>

    <!-- grooming prices section-->
    <div class="card">
        <div class="card-title">
            <h2>Grooming Prices</h2>
        </div>
        <table>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Full Groom</td>
                <td>$20</td>
            </tr>
            <tr>
                <td>Full Groom with Bath</td>
                <td>$25</td>
            </tr>
            <tr>
                <td>Full Groom with Bath and Nail Trim</td>
                <td>$30</td>
            </tr>
            <tr>
                <td>Full Groom with Bath, Nail Trim, and Ear Cleaning</td>
                <td>$35</td>
            </tr>
            <tr>
                <td>Full Groom with Bath, Nail Trim, Ear Cleaning, and Anal Gland Expression</td>
                <td>$40</td>
            </tr>
            <tr>
                <td>Full Groom with Bath, Nail Trim, Ear Cleaning, Anal Gland Expression, and Teeth Brushing</td>
                <td>$50</td>
            </tr>
        </table>
    </div>

    <br><br>
    <%- include('./_footer.ejs') %>