<!-- Title: index.ejs
     Author: Megan Walker
     Date: 01/28/2023
     Description: index.ejs for pets-r-us assign
     References: https://www.w3schools.com/
-->
<%- include('./_header.ejs') %>
    <!-- logo and contact button -->
    <div class="logo-top">
        <h1>Pets-R-Us</h1>
        <a class="contact-btn" href="#contact">Contact Us</a><br><br>
        <img src="/images/field-dog.jpg" alt="dog in a field" height="600">
    </div>
    <!-- dog of the week section with card and image-->
    <div class="card">
        <div class="card-title">
            <h2>Dog of the Week</h2>
            <div class="card-content" id="dog-of-week">
                <img src="/images/dog.jpg" alt="Yellow Lab" width="300" height="200">
                <p>Meet our dog of the week, a 2 year old yellow lab named Max. Max is a very sweet dog who loves to
                    play
                    fetch and go for walks. He is very friendly and loves to meet new people. Max is looking for a
                    loving
                    home with a family who will give him lots of attention and love. If you are interested in adopting
                    Max,
                    please contact us today!</p>
            </div>
        </div>
    </div>
    <!-- Testimonials section-->
    <div class="card">
        <div class="card-tite">
            <h2>Testimonials</h2>
            <div class="card-content" id="testimonials">
                <div>
                    <h3>John Smith</h3>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star"></i>
                    <p>“I have been taking my dog to Pets-R-Us for grooming for the past 5 years. I have always been
                        very
                        satisfied with the service and the price. I would highly recommend Pets-R-Us to anyone looking
                        for a
                        great groomer.”</p>
                </div>
                <div>
                    <h3>Mary Anderson</h3>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star"></i>
                    <p>“I have been taking my dog to Pets-R-Us for grooming for the past 5 years. I have always been
                        very
                        satisfied with the service and the price. I would highly recommend Pets-R-Us to anyone looking
                        for a
                        great groomer.”</p>
                </div>
                <div>
                    <h3>Jane Doe</h3>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i>
                    <p>“I have been taking my dog to Pets-R-Us for grooming for the past 5 years. I have always been
                        very
                        satisfied with the service and the price. I would highly recommend Pets-R-Us to anyone looking
                        for a
                        great groomer.”</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="card">
        <h2>Contact Us</h2>
        <div class="form">
            <form method="get">
                <fieldset>
                    <legend>Information</legend>
                    <label>First Name: <input type="text" name="fname" id="fname"></label><br><br>
                    <label>Last Name: <input type="text" name="lname" id="lname"></label><br><br>
                    <label>E-mail: <input type="text" name="email" id="email"></label><br><br>
                </fieldset>
                <label for="comments">Comments:</label><br>
                <textarea name="comments" id="comments" rows="4" cols="40"></textarea><br><br>
                <input type="submit" value="Contact"> <input type="reset">
            </form>
        </div>
    </div>
    <br><br>

    <%- include('./_footer.ejs') %>