<!-- Title: index.ejs
     Author: Megan Walker
     Date: 01/28/2023
     Description: index.ejs for pets-r-us assign
     References: https://www.w3schools.com/
-->
<%- include('./_header.ejs') %>
    <!-- logo and contact button -->
    <div class="logo-top">
        <h1>Pets-R-Us</h1>
        <a class="contact-btn" href="#contact">Contact Us</a><br><br>
        <img src="/images/field-dog.jpg" alt="dog in a field" height="600">
    </div>
    <!-- dog of the week section with card and image-->
    <div class="card">
        <div class="card-title">
            <h2>Dog of the Week</h2>
            <div class="card-content" id="dog-of-week">
                <img src="/images/dog.jpg" alt="Yellow Lab" width="300" height="200">
                <p>Meet our dog of the week, a 2 year old yellow lab named Max. Max is a very sweet dog who loves to
                    play
                    fetch and go for walks. He is very friendly and loves to meet new people. Max is looking for a
                    loving
                    home with a family who will give him lots of attention and love. If you are interested in adopting
                    Max,
                    please contact us today!</p>
            </div>
        </div><br><br>
        <!-- Testimonials section-->
        <div class="card-tite">
            <h2>Testimonials</h2>
            <div class="card-content" id="testimonials">
                <div id="testemonial-content">
                    <h3>John Smith</h3>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star"></i>
                    <p>“I have been taking my dog to Pets-R-Us for grooming for the past 5 years. I have always been
                        very
                        satisfied with the service and the price. I would highly recommend Pets-R-Us to anyone
                        looking
                        for a
                        great groomer.”</p>
                </div>
                <div id="testemonial-content">
                    <h3>Mary Anderson</h3>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star"></i>
                    <p>“I recently took my furry friend to the pet store for grooming and was beyond impressed with the
                        level of care and attention they received. The staff were friendly and knowledgeable, and my pet
                        came back looking and feeling fabulous. I highly recommend this pet store for all your grooming
                        needs!”</p>
                </div>
                <div id="testemonial-content">
                    <h3>Jane Doe</h3>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i>
                    <p>“I recently discovered the pet store and I am blown away by their extensive selection of
                        high-quality pet products. The staff were incredibly helpful in finding just what I needed for
                        my pet, and they had great knowledge of the products they were selling. The store was
                        well-organized and had a welcoming atmosphere. I highly recommend this pet store for all your
                        pet supply needs.”</p>
                </div>
            </div>
        </div><br><br>
        <div id="contact" class="card-title">
            <h2>Contact Us</h2>
            <div class="form">
                <form method="get">
                    <fieldset>
                        <legend>Information</legend>
                        <label>First Name: <input type="text" name="fname" id="fname"></label><br><br>
                        <label>Last Name: <input type="text" name="lname" id="lname"></label><br><br>
                        <label>E-mail: <input type="text" name="email" id="email"></label><br><br>
                    </fieldset>
                    <label for="comments">Comments:</label><br>
                    <textarea name="comments" id="comments" rows="4" cols="40"></textarea><br><br>
                    <input type="submit" value="Contact"> <input type="reset">
                </form>
            </div>
        </div>
    </div>
    <br><br>

    <%- include('./_footer.ejs') %>